<%- include('partials/header'); -%>
<div class="title-container">
<img src="data:images/<%=articleim.contentType%>;base64,<%=articleim.img.data.toString('base64')%>">
</div>
<h1 class="artname1"><%= articlename.postname %></h1>
<div class="particular-post"> 
<p class="artcont2"><%= artpost.postContent %></p>   
</div>
    <%- include('partials/footer'); -%>
